<nav class="navbar fixed-top navbar-expand-lg navbar-light mb-2" id="navigationHome">
	
    <a class="navbar-brand" href="/homepage">LearnToCrypt</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#optionsCollapsed"
        aria-controls="optionsCollapsed" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="optionsCollapsed">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/dashboard"> Dashboard </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"> Playground </a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item mr-3">
                <a class="btn btn-outline-primary nav-link-btn my-sm-0" href="/login"> Login </a>
            </li>
            <li class="nav-item mr-5">
                <a class="btn btn-outline-primary nav-link-btn my-sm-0" href="/signup"> Registration </a>
            </li>
        </ul>
    </div>
</nav>