.content {
    margin-top: 7rem;
    margin-bottom: 7rem;
}

.card-header {
    text-align: center;
    font-size: 28px;
}

.formError {
    color: red;
    font-size: 15px;
    font-family: cursive;
}

.formSuccess {
    color: green;
    font-size: 15px;
    font-family: cursive;
}