#login-form {
	margin-top: 7rem;
	margin-bottom: 4rem;
}

.card-header {
	text-align: center;
	font-size: 28px;
}

.form-group {
	margin-top: 12px;
	margin-left: 24px;
	margin-right: 24px;
}

.btn-dark {
	color: #ffffff;
	padding-left: 1rem;
	background: #130f40;
	border: 2px solid #130f40;
	border-radius: 25px;
}

.btn-dark:hover {
	color: #ffffff;
	padding-left: 1rem;
	background: #4834d4;
	border: 2px solid #4834d4;
	border-radius: 25px;
}

#formError {
	color: red;
	font-size: 15px;
	font-family: cursive;
}
