body {
	background: #FFEFBA;
	/* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #FFFFFF, #FFEFBA);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.homepage-title {
	font-size: 5vw !important;
}

.navbar {
	background: #2ed573;
	font-size: 1.25rem;
}

.nav-link,
.navbar-brand {
	color: #130f40 !important;
	cursor: pointer;
	margin-right: 1em !important;
}

.nav-link:hover {
	background: #130f40;
	color: #2ed573 !important;
	border-color: #130f40;
	padding-left: 1rem;
}

.nav-link-btn {
	color: #130f40;
	padding-left: 1rem;
	border: 2px solid #130f40;
}

.nav-link-btn:hover {
	background: #130f40 !important;
	color: #2ed573 !important;
	border-color: #130f40 !important;
	padding-left: 1rem !important;
}

.btn {
	background: #2ed573;
	color: #130f40;
}

.btn:hover {
	background: #130f40;
	color: #2ed573;
}

.ml-auto {
	margin-left: 2rem;
}

.navbar-toggler {
	background: #c7ecee;
}

.navbar-collapse {
	justify-content: flex-end;
}

.firstJumbotron {
	padding-top: 10rem;
	background: transparent;
}

.display-3 {
	font-size: 6vw;
}

.footer {
	background: #2ed573;
	color: #130f40;
}

hr {
	border-color: #130f40 !important;
}

.social-media {
	font-size: 28px;
	border: 1px solid #130f40;
}

.touch-icon {
	color: #130f40;
}