<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="algorithm.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <title> LearnToCrypt Home </title>
</head>

<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light mb-2" id="navigationHome">

        <a class="navbar-brand" href="/homepage">LearnToCrypt</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#optionsCollapsed"
            aria-controls="optionsCollapsed" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!--- code snippet for collapsible feature of navbar with responsiveness by using bootstrap classes -->
        <div class="collapse navbar-collapse" id="optionsCollapsed">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard"> Dashboard </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"> Playground </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"> Contact Us </a>
                </li>

            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mr-3">
                    <a class="btn btn-outline-primary nav-link-btn my-sm-0" href="/login"> Login </a>
                </li>
                <li class="nav-item mr-5">
                    <a class="btn btn-outline-primary nav-link-btn my-sm-0" href="/signup"> Registration </a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container dashboard">
        <h2 class="text-center">Algorithm</h2>
        <hr>
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-4 img" th:style="'background-image:url(' + @{${url}} + ');'"></div>
                <div class="col-md-4">
                    <p>The action of a Caesar cipher is to replace each plaintext letter with a different one a fixed
                        number of places down the alphabet. The cipher illustrated here uses a left shift of three, so
                        that (for example) each occurrence of E in the plaintext
                        becomes B in the ciphertext.</p>
                </div>
                <div class="col-md-2"></div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <form action="#" th:action="@{/algorithm}" th:object="${userInput}" method="post">
                        <div class="form-group">
                            <label for="key">Key</label>
                            <input type="text" id="key" name="key" class="key form-control" th:field="*{key}" />
                        </div>
                        <div class="form-group">
                            <label for="plaintext">Plaintext</label>
                            <input type="text" id="plaintext" name="plaintext" class="plaintext form-control"
                                th:field="*{plaintext}" />
                        </div>
                        <input type="submit" class="btn btn-primary" value="Submit" />
                    </form>
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <br>
                    <div class="container card">
                        <p>Resault:</p>
                        <P style="white-space: pre;" th:text="${result}"></P>
                        <P style="white-space: pre;" th:text="${steps}"></P>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>

</body>