<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

<link rel="stylesheet" type="text/css" href="/css/main.css">

<link rel="stylesheet" type="text/css" href="/css/login_regi_form.css">

<style type="text/css">
#formSuccess {
	color: green;
	font-size: 15px;
	font-family: cursive;
}
</style>

<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
	integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
	crossorigin="anonymous">

<title>LearnToCrypt Forgot Password</title>
</head>

<body>
	<div th:replace="fragments/navbar"></div>

	<div class="row" id="login-form">
		<div class="col-md-4 col-sm-6"></div>
		<div class="col-md-4 col-sm-6">
			<div id="login-form-style" class="card">
				<div class="card-header">Forgot Password?</div>
				<div class="card-row text-center">Please enter your email to
					receive a link for resetting your password</div>
				<form method="post">

					<div class="form-group">
						<label for="emailid" class="form-label"><i
							class="fas fa-envelope"></i> Email: </label> <input class="form-control"
							id="emailid" th:value="${email}" type="text"
							placeholder="example@gmail.com" name="email" />
					</div>
					<div class="form-group">
						<div id="formError" th:text="${errorText}"></div>
						<div id="formSuccess" th:text="${successText}"></div>
					</div>
					<div class="form-group" style="text-align: center">
						<button type="submit" class="btn btn-dark">Reset Password
						</button>
					</div>
				</form>
			</div>
		</div>
		<div class="col-md-4 col-sm-6"></div>
	</div>

	<div th:replace="fragments/footer"></div>
</body>

</html>