<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="/css/main.css">
	
	<link rel="stylesheet" type="text/css" href="/css/change_password.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
          integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

    <title> LearnToCrypt Profile </title>
</head>

<body>
<div th:replace="fragments/navbarLoggedIn"></div>

<div class="row content" id="">
    <div class="col-md-4 col-sm-6"></div>
    <div class="col-md-4 col-sm-6">
        <div id="profile-form-style" class="card">
            <div class="card-title card-header"> Profile </div>
            <div class="card-body">

                <div class="card-row">
                    <label for="email" class="form-label">Email: </label>
                    <span  th:text="${email}" id="email"></span>
                </div>
                <div class="card-row">
                    <label for="role" class="form-label">Role: </label>
                    <span th:text="${role}" id="role"></span>
                </div>
                <form method="post">
                    <div class="card-row">
                        <label for="name" class="form-label">Name: </label>
                        <!--                    <span th:text="${username}" id="name"></span>-->
                        <input id="name" th:value = "${username}" type="text" name="username" />
                    </div>
                    <div class="form-group">
                        <label for="newpass" class="form-label"><i class="fas fa-unlock-alt"></i> New Password: </label>
                        <input class="form-control" id="newpass" th:value="${newPass}" type="password" name="newPass" />
                    </div>
                    <div class="form-group">
                        <label for="password" class="form-label"><i class="fas fa-unlock-alt"></i>Confirm Password: </label>
                        <input class="form-control" id="password" th:value="${confirmPass}" type="password"
                               name="confirmPass" />
                    </div>
                    <div class="form-group">
                        <div class="formError" th:text="${errorText}" name="errorText"></div>
                        <div class="formSuccess" th:text="${successText}" name="successText"></div>
                    </div>
                    <div class="form-group" style="text-align: center">
                        <button type="submit" class="btn btn-dark"> Update Profile </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-6"></div>
</div>

<div th:replace="fragments/footer"></div>

</body>

</html>